
@{
    ViewBag.Title = "RegistrarOC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <h4>
            <i style="margin-right:7px" class="fa fa-shopping-cart"></i> COMPRAS REGISTRADAS
        </h4>
    </div>
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home"></i> <a href="@Url.Action("Principal", "Seguridad")">Principal</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-shopping-cart"></i> Compras</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group pull-right">
            <a class="btn btn-info" id="btnNuevo" href="@Url.Action("RegistrarOC", "Gestion")"><i class="fa fa-plus"></i> Nueva Compra</a>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="form-row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Búsqueda</label>
                    <input class="form-control" id="txtBusqueda" name="txtBusqueda" type="search" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-sm-12">
                <div class="form-group">
                    <label>Fecha Inicio</label>

                    <input class="form-control" id="txtFechaInicio" name="txtFechaInicio" type="text" />


                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-sm-12">
                <div class="form-group">
                    <label>Fecha Fin</label>

                    <input class="form-control" id="txtFechaFin" name="txtFechaFin" type="text" />


                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <br /> 
                <div class="form-group">
                    <div class="position-relative form-check form-check-inline"><label class="form-check-label"><input type="checkbox" id="checkAfectaStock" name="checkAfectaStock" checked class="form-check-input"> Afecta Stock</label></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <br /> 
                <div class="form-group">
                    <div class="position-relative form-check form-check-inline"><label class="form-check-label"><input type="checkbox" id="IncluyeIgv" name="IncluyeIgv" checked class="form-check-input"> Incluye IGV</label></div>
                </div>
            </div>
            
            </div>

            <div class="col-lg-12">
                
                <div class="float-right">
                    <button class="btn btn-info" id="btnFiltrar"><i class="fa fa-search"></i> Filtrar</button>
                    <button class="btn btn-danger" id="btnFactura"><i class="fa fa-file-pdf"></i> PDF</button>
                    <button class="btn btn-success" id="btnExcel"><i class="fa fa-file-excel"></i> Excel</button>
                </div>
               
            </div>
            <br /><br /> 
            <div class="col-12">
                <input type="hidden" id="hdfId" />
                <div class="table-responsive-sm table-responsive-md">
                    <table class="table table-striped table-bordered" cellspacing="0" style="width:100%" id="tbCompra">
                        <thead>
                            <tr class="text-tit" style="border:1px;">
                                <th>N° Serie</th>
                                <th>Tipo Doc.</th>
                                <th>Tipo Pago</th>
                                <th>Fecha Registro</th>
                                <th>Fecha Pago</th>
                                <th>Concepto</th>
                                <th>Inluye IGV</th>
                                <th>AfectaStock</th>
                                <th>Proveedor</th>
                                <th>Moneda</th>
                                <th>Subtotal</th>
                                <th>IGv</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-peq"></tbody>
                    </table>
                    <p id="pHelperProductos" style="margin-top: 5px; font-size: 11px;"></p>
                    <input type="hidden" id="TotalReg" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">

                            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                <input type="checkbox" id="IdTotal" name="IdTotal" class="peer" checked>
                                <label for="inputCall1" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Todos Registro</span></label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <input type="hidden" id="hdf_Pagina" />
                            <input type="hidden" id="hdf_TotalPagina" />
                            <div class="float-right">
                                <button class="btn btn-secondary" id="btnAnteror"><i class="fa fa-arrow-left"></i> Anterior</button>
                                <Label ID="lblNumPagina"></Label>
                                <button class="btn btn-secondary" id="btnSiguiente"> Siguiente  <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/assets/scripts/page/Gestion/ListaRegistroOC.js"></script>
}
