
@{
    ViewBag.Title = "Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h4>
            <i style="margin-right:7px" class="fa fa-cubes"></i> PRODUCTOS REGISTRADOS
        </h4>
    </div>
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home"></i> <a href="@Url.Action("Principal", "Seguridad")">Principal</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-cubes"></i> Productos</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group pull-right">
            <button class="btn btn-primary" id="btnBarra" data-toggle="modal" data-target="#ModalCodigo"> <i class="fa fa-barcode "></i> Generar Código Barras</button>
            <button class="btn btn-info" id="btnNuevo" data-toggle="modal" data-target="#ModalNuevo"><i class="fa fa-plus"></i> Nuevo Producto</button>
        </div>
        @*<div class="form-group pull-left">
                <button class="btn btn-outline-danger" id="btnBarra"> <i class="fa fa-barcode "></i> Generar Código Barras</button>
            </div>*@
    </div>
</div>

<div class="card cont">
    <div class="table-responsive" id="dvCliente">
        <table data-order='[[ 1, "asc" ]]' class="table table-striped table-bordered" style="width:100%" id="tbMaterial">
            <thead>
                <tr style="border:1px;">
                    <th></th>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Unidad</th>
                    @*<th>Marca</th>
                    <th>Modelo</th>*@
                    <th>Precio Compra</th>
                    <th>Precio Venta</th>
                    <th>Categoría</th>
                    <th>Sub-Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    @*------- MODAL --------------*@
    <div class="modal fade animate__animated animate__fadeInDown" id="ModalNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registro de producto</h5>
                    <input type="hidden" id="hdfId" />
                    <button type="button" class="close animate__animated animate__fadeOutUp" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Línea</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstLinea" name="lstLinea" disabled></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Código</label>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm no-null" id="txtCodigo">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label><b class="obligatorio">(*)</b> Nombre</label>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm no-null" id="txtNombre">

                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label>Descripción</label>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" id="txtDescripcion">
                                </div>
                            </div>
                            <div class="col-lg-3 col-12" hidden>
                                <label><b class="obligatorio">(*)</b> Tipo</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lsTipo" name="lsTipo" type="search"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12" hidden>
                                <label><b class="obligatorio">(*)</b> Marca</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstMarca" name="lstMarca"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12" id="idmercaderiaGe" hidden>
                                <label><b class="obligatorio">(*)</b> Género</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstGenero" name="lstGenero"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Categoría</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstCategoria" name="lstCategoria"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12" id="idMercaderiacategoria">
                                <label><b class="obligatorio">(*)</b> Categoría N2</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstSubCategoria" name="lstSubCategoria"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12" id="idMaterialmodelo" hidden>
                                <label><b class="obligatorio">(*)</b> Modelo</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstModelo" name="lstModelo"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12" hidden>
                                <label><b class="obligatorio">(*)</b> Color</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstColor" name="lstColor"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Unidad Medida</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstUnidad" name="lstUnidad"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12" id="idMercaderiaTemp" hidden>
                                <label><b class="obligatorio">(*)</b> Temporda</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstTemporada" name="lstTemporada"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12" id="idMercaderiaTalla" hidden>
                                <label><b class="obligatorio">(*)</b> Talla</label>
                                <div class="form-group">
                                    <select class="form-control no-null" id="lstTalla" name="lstTalla"></select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Precio Compra</label>
                                <input type="text" class="form-control input-sm no-null" id="txtPrecioComp">
                            </div>

                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Descuento</label>
                                <input type="text" class="form-control input-sm no-null" id="txtDescuento">
                            </div>
                        </div>
                        <!-- LISTADO DE PRECIOS -->
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Precio Unidad</label>
                                <input type="text" class="form-control input-sm no-null" id="txtPrecioVent">
                            </div>
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Precio 1/4</label>
                                <input type="text" class="form-control input-sm no-null" id="txtPrecioCuarto">
                            </div>
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Precio 1/2 docena</label>
                                <input type="text" class="form-control input-sm no-null" id="txtPrecioMedia">
                            </div>
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Precio docena</label>
                                <input type="text" class="form-control input-sm no-null" id="txtPrecioDocena">
                            </div>
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Precio Caja</label>
                                <input type="text" class="form-control input-sm no-null" id="txtPrecioCaja">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <label><b class="obligatorio">(*)</b> Cant * Caja</label>
                                <input type="text" class="form-control input-sm no-null" id="txtCandCaja">
                            </div>
                        </div>


                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " data-dismiss="modal" id="cerrarpx">Cancelar</button>
                        <button type="button" id="btnGrabar" class="btn btn-primary">Grabar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*------- MODAL --------------*@
<div class="modal fade animate__animated animate__fadeInDown" id="ModalCodigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ata-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Generar código de barra</h5>
                <input type="hidden" id="hdfId" />
                <input type="hidden" id="hdfFlag" />
                <button type="button" class="close animate__animated animate__fadeOutUp" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                        <table class="table table-bordered" id="tbDetalle">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div>
                        <label>Total : </label>
                        <b>
                            <span id="Totales"></span>
                            <input type="hidden" id="IdTotales" />
                        </b>
                    </div>
                    <br />
                    <br />
                    <div>
                        <span style="padding-left:5px;">La cantidad no debe superar 39 datos</span>
                    </div>
                </div>
                <p id="pHelperProductos" style="margin-top: 5px; font-size: 11px;"></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-dismiss="modal" id="limpiarModal">cancelar</button>
                    <button type="button" id="btnGenerar" class="btn btn-primary">Grabar</button>
                </div>
            </div>
        </div>
    </div>
</div>






@section scripts {


    <script type="text/javascript" src="~/assets/scripts/page/Mantenimiento/Material.js"></script>
}


